.div {
  height: 640px;
  padding: 0;
  margin: 0;
}

.account {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  margin-top: 70px;
  margin-right: 3%;
}

.food {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  margin-top: 70px;
  margin-left: 3%;

}

.h3 {
  font-weight: 500;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-floating:focus-within {
  z-index: 2;
  width: 370px;
}

input[id="Username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input[id="Phone number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="Street 1"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="Street 2"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="City"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="State"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="Postal Code"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="First restaurant"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[id="Second restaurant"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.right:focus-within {
  z-index: 2;
  width: 370px;
}

i {
  margin-right: 10px;
}
