.div {
  height: 640px;
  padding: 0;
  margin: 0;
  padding: 0 10%;
}

.account {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  margin-top: 70px;
}

.food {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  margin-top: 70px;

}

.h3 {
  font-weight: 500;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-floating:focus-within {
  z-index: 2;
  width: 370px;
}

input[id="Username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input[id="Phone number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="Street 1"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="Street 2"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="City"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="State"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[id="Postal Code"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* 
input[id="First restaurant"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[id="Second restaurant"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

.restaurant {
  margin-bottom: 10px;
}

.new-restaurant {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
}

.right:focus-within {
  z-index: 2;
  width: 370px;
}

.mode-container {
  margin: 30px 0;
  text-align: center;
}

.radio-input {
  display: inline;
  margin: 15px 10px;
  font-weight: 500;
}

i {
  margin-right: 10px;
}
